<div class="form-group">
    <img src="assets/images/armani-logo.png">
    <h1>Accedi</h1>
    <form (ngSubmit)="Login()" [formGroup]="myform">
        <div class="textbox">
            <input class="form-control" type='text' name='username' id='username' formControlName='username' required maxlength="16" placeholder="Nome utente">
            <div *ngIf="myform.controls['username'].invalid && (myform.controls['username'].dirty || myform.controls['username'].touched)" class="alert-danger">
                <div *ngIf="myform.controls['username'].errors.required">
                    Name is required.
                </div>
            </div>
        </div>
        <div class="textbox">
            <input class="form-control" type='password' name='psw' id='psw' formControlName='psw' required maxlength="16" placeholder="Password">
            <div *ngIf="myform.controls['psw'].invalid && (myform.controls['psw'].dirty || myform.controls['psw'].touched)" class="alert-danger">
                <div *ngIf="myform.controls[ 'psw'].errors.required ">
                    Password is required.
                </div>
            </div>
        </div>
    </form>
    <button type="button" (click)="Login()">Login</button>

    <a routerLink="/register"><button>Registrati</button></a>
</div>