<p>
    form-feedback works!
</p>

<img src="assets/thumb__ser.png" style="text-align:center">

<div class="form-group">
    <form (ngSubmit)="Login()" [formGroup]="myform">

        <label>Nome:</label>
        <input class="form-control" type='text' name='nome' id='nome' formControlName='nome' required maxlength="16">
        <div *ngIf="myform.controls['nome'].invalid && (myform.controls['nome'].dirty || myform.controls['nome'].touched)" class="alert alert-danger">
            <div *ngIf="myform.controls['nome'].errors.required">
                inserire nome
            </div>
        </div>

        <label>Cognome:</label>
        <input class="form-control" type='text' name='cognome' id='cognome' formControlName='cognome' required maxlength="16">
        <div *ngIf="myform.controls['cognome'].invalid && (myform.controls['cognome'].dirty || myform.controls['cognome'].touched)" class="alert alert-danger">
            <div *ngIf="myform.controls['cognome'].errors.required">
                inserire cognome
            </div>
        </div>
        <label>Sesso</label>
        <select>
          <option value=option1 ></option>
          <option value=option1 >Maschio</option>
          <option value=option1 >Femmina</option>
          <option value=option1 >Indeciso</option>
      </select>


        <div class="form-group ">
            <label>Email:</label>
            <input class="form-control " type='email' name='email' id='email' formControlName='email' ngModel [email]="true">
            <div *ngIf="myform.controls[ 'email'].invalid && (myform.controls[ 'email'].dirty || myform.controls[ 'email'].touched) " class="alert alert-danger  ">
                <div *ngIf="myform.controls[ 'email'].errors.required ">
                    Email is required.
                </div>
            </div>
        </div>

        <div class="form-group ">
            <label>Telefono:</label>
            <input class="form-control " type='number' name='telefono' id='telefono' formControlName='telefono' required minlength="10" placeholder="Phone" maxlength="10 ">
        </div>

        <div>
            <input class="form-control " type='text'>
        </div>

    </form>
</div>



<button type="button " (click)="Invia() ">invia</button>