h3{
    text-align: center;
    color: white;
}

.form-group{
    color: black;
    background-color: rgba(178, 176, 176, 0.5);
    width: 19%;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 0px 30px;
}
img{
    width: 50%;
}

.form-control{
    margin: 5px;
}
select{
    width: 103%;
}

.alert-danger{
    color: red;
    font-size: 10px;
}

input{
    border: none;
    outline: none;
    background: none;
}

select{
    border: none;
    outline: none;
    background: none;
    color: white;
}
option{
    color: black
}

#telefono{
    width: 100%;
}

textarea{
    border: none;
    outline: none;
    background: none;
    margin-top: 5px;
    background:  rgba(178, 176, 176, 0.2);
}
.textbox{
    border-bottom: 1px solid white;
    text-align: left;
    margin: 5px;
    margin-bottom: 10px;

}

::placeholder{
    color: white;
}

button{
    margin-bottom: 5px;
    margin-top:5px;
    border: none;
    outline: none;
    background:  rgb(17, 118, 165);
    border-radius: 15px;
    color: white;
    width: 40%;
    font-size: 20px;

}

button:hover{
    cursor: pointer;
    color: black;
    background:  rgb(13, 69, 95);
}

