<div class="container">
  <h1 class="title">Nome del sito</h1>


  <ngb-carousel *ngIf="images" id="text">
    <ng-template ngbSlide>
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </ng-template>
    <ng-template ngbSlide>
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </ng-template>
    <ng-template ngbSlide>
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </ng-template>
  </ngb-carousel>
  
  <img class="occhiali" src="assets/images/dada.png" alt="dada">
</div>
  