.gridList {
    max-width: 95%;
    left: 2.5%;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

#name {
    font-weight: bolder;
}

img {
    max-width: 100%;
}

ul {
    background: rgba(200, 200, 200, 0.75);
    border-radius: 30px;
    padding: 5%;
}