@import "../../assets/scss/mixins";
.item {
    padding-left: 40px;
    padding-top: 25px;
    list-style: none;
}

.menu {
    display: flex;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.container1 {
    @include display-grid((1fr 200px), (100px 1fr));
    grid-template-columns: 1fr 200px;
    margin-left: 10px;
}

.item-a {
    @include grid-column(2);
    grid-column-end: span 1;
    grid-row-end: span 1;
    width: 50%;
}