h1 {
    text-align: center;
    color: white;
}

h4 {
    text-align: center;
    color: white;
}

div {
    text-align: center;
}

img {
    margin-top: 20px;
    border-radius: 200px;
    width: 210px;
    height: 210px;
    ;
}