<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div>
    <h1> Benvenuto:<br> <strong>Utente</strong></h1>

    <img src="assets/images/profile.png" class="img-circle" width="210" height="210">

    <h4>Nome: <strong>Mario</strong></h4><br>

    <h4>Cognome: <strong>Rossi</strong></h4><br>

    <h4>E-mail: <strong>Mario@gmail.com</strong></h4><br>

    <h4>Genere: <strong>Maschio</strong> </h4><br>

    <h4>Telefono: <strong>345 678901</strong> </h4>

</div>