

<div class="form-group">
    <form (ngSubmit)="Login()" [formGroup]="myform">
            <img src="assets/images/armani-logo.png">
            <h1>Registrati</h1>
    <div class="textbox">
        <input class="form-control" type='text' name='username' id='username' formControlName='username' required maxlength="16" placeholder="Username">
        <div *ngIf="myform.controls['username'].invalid && (myform.controls['username'].dirty || myform.controls['username'].touched)" class="alert alert-danger">
            <div *ngIf="myform.controls['username'].errors.required">
                Username is required.
            </div>
        </div>
    </div>
        <div class="textbox">
            <input class="form-control" type='password' name='psw' id='psw' formControlName='psw' required maxlength="16" placeholder="Password">
            <div *ngIf="myform.controls['psw'].invalid && (myform.controls['psw'].dirty || myform.controls['psw'].touched)" class="alert alert-danger">
                <div *ngIf="myform.controls[ 'psw'].errors.required ">
                    Password is required.
                </div>
            </div>
        </div>
        <div class="textbox">
            <input class="form-control " type='email' name='email' id='email' formControlName='email' ngModel [email]="true" placeholder="Email">
            <div *ngIf="myform.controls[ 'email'].invalid && (myform.controls[ 'email'].dirty || myform.controls[ 'email'].touched) " class="alert alert-danger ">
                <div *ngIf="myform.controls[ 'email'].errors.required ">
                    Email is required.
                </div>
            </div>
        </div>    
    </form>
    <button><a  routerLink="../register">Registrati</a></button>
</div>
