<div class="container">
    <h1>Inviaci un tuo feedback</h1>
    <form>
        <!-- name -->
        <div class="field">
            <label for="name">Nome</label>
            <input type="text" name="name" class="input" placeholder="Nome">
        </div>

        <!-- lastname -->
        <div class="field">
            <label for="name">Cognome</label>
            <input type="text" name="lastname" class="input" placeholder="Cognome">
        </div>

        <!-- gender -->
        <div class="field">
            <label for="name">Gender</label>
            <select class="form-control" id="gender" required>
                    <option *ngFor="let gender of gender" [value]="gender">{{gender}}</option>
            </select>
        </div>

        <!-- email -->
        <div class="field">
            <label for="name">Email</label>
            <input type="email" name="email" class="input" placeholder="Email">
        </div>

        <!-- telephone -->
        <div class="field">
            <label for="name">Telefono</label>
            <input type="telephone" name="telephone" class="input" placeholder="Telefono">
        </div>

        <!-- comment -->
        <div class="field">
            <label for="name">Commenti</label>
            <textarea class="textarea" name="comment" placeholder="Commenti"></textarea>
        </div>

        <button type="submit" class="button is-danger is-large">Invia</button>


    </form>
</div>